@import "./mixins.scss";
@import "./variables.scss";

.page-header {
  font-size: 20px;

  h1 {
    @include primary-text;
  }
}

.page-footer {
  grid-row: footer-s/footer-e;

  display: grid;
  justify-content: center;

  @include tertiary-text;
}
