.join {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 24px[header-s]64px[header-e content-s]1fr[content-e footer-s]12px[footer-e]8px;
  height: 100%;

  text-align: center;

  &__header {
    grid-row: header-s/header-e;
  }

  .content {
    height: 100%;
    grid-row: content-s/content-e;

    display: grid;
    grid-template-rows: 8px[player-name-s] 42px [player-name-e] 16px [form-s] 1fr [form-e];

    &__player-name {
      grid-row: player-name-s/player-name-e;

      @include primary-text;
      font-size: 2rem;
    }

    form {
      height: 100%;
      grid-row: form-s/form-e;

      .join__form {
        height: 100%;
        display: grid;
        align-items: center;
        grid-template-rows: [label-s]42px[label-e input-s]50%[input-e button-s]1fr[button-e];

        text-align: center;

        label {
          grid-row: label-s/label-e;
          align-self: flex-end;

          @include secondary-text;
          font-size: 2rem;
          font-weight: 600;
        }

        input {
          grid-row: input-s/input-e;
          height: 42px;

          @include primary-text;
          background-color: $white;
          color: $dark-grey;
          text-align: center;
          border-radius: 24px;
          border: 2px solid $base-color;

          transition: 0.2s ease-in-out;

          &:focus {
            outline: none;
            border: 2px solid $white;
          }
        }

        button {
          grid-row: button-s/button-e;
          width: 128px;
          height: 52px;
          justify-self: center;

          @include primary-text;
          color: $mid-grey;
          background-color: $dark-grey;
          border: none;
          border-radius: 8px;

          transition: 0.1s ease-in-out;

          &:hover {
            cursor: pointer;
            color: $white;
            background-color: $mid-grey;
          }
        }
      }
    }
  }
}
